$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$fa-font-path: "/bower_components/font-awesome/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'font-awesome/scss/font-awesome';

$baseFontFamily: 'FontAwesome';

/** Mixins **/
@mixin border-radius($transformation) {
  -webkit-border-radius: $transformation;
     -moz-border-radius: $transformation;
      -ms-border-radius: $transformation;
       -o-border-radius: $transformation;
          border-radius: $transformation;
}

@mixin transform($transformation) {
  -webkit-transform: $transformation;
     -moz-transform: $transformation;
      -ms-transform: $transformation;
       -o-transform: $transformation;
          transform: $transformation;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

html, body {
    height:  100%;
    width: 100%;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    .wrap {
        height: 100%;
        width: 100%;
    }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    
}
