<aside class="sidebar pure-u-1-3">
  <div class="profile-info">
    <section class="image">
      <!-- <img src="{{User.image}}"> -->
      <img src="/images/yeoman.png" alt="">
    </section>
    <section class="name">
      <h1><a href="#">Yeoman Angular</a></h1>
      <!-- {{User.name}} -->
    </section>
    <ul class="stats">
      <!-- <li>{{User.stats.pledges.length}}</li> -->
      <li>
        <i class="fa fa-trophy"></i><span class="count">27</span> Pledges
      </li>
    </ul>
    <!-- <p class="desc">{{Users.desc}}</p> -->
    <p class="desc">
      They're creepy and they're kooky, mysterious and spooky. They're all together ooky, the Addams Family. Their house is a museum where people come to see 'em. They really are a scream, the Addams Family. Neat. Sweet. Petite. So get a witches shawl on, a broomstick you can crawl on. We're gonna pay a call on the Addams Family.

    </p>
    <ul class="contact">
      <li>
        <a href=""><i class="fa fa-facebook"></i> Facebook</a>
      </li>
      <li>
        <a href=""><i class="fa fa-twitter"></i> Twitter</a>
      </li>
      <li>
        <a href=""><i class="fa fa-stack-overflow"></i> Stackoverflow</a>
      </li>
      <!-- <li ng-repeat="c in User.contacts">
        <a href="{{c.link}}"></a>
      </li> -->
    </ul>
  </div>
</aside>