<nav class="gen-fixed-top">
  <ul class="pledgr-primary-nav pure-g">
    <li class="col-md-1 pure-u-1-12">
      <span class="logo"></span>
    </li>
    <li class="col-md-1 pure-u-1-12">
      <span class="lnk active">Dash</span>
    </li>
    <li class="col-md-1 pure-u-1-12">
      <span class="lnk">Feeds</span>
    </li>
    <li class="col-md-5 pure-u-5-12">
      <section class="mod-search">
        <input type="search" placeholder="Search Activity">
      </section>
    </li>
    <li class="col-md-2  pure-u-1-6 parent-nav">
      <ul class="child-nav">
        <li><i class="fa fa-envelope"></i></li>
        <li><i class="fa fa-cog"></i></li>
      </ul>
    </li>
    <li class="col-md-2 pure-u-1-6">
      <button class="lnk">Logout</button>
    </li>
  </ul>
</nav>