<nav class="gen-fixed-top">
  <ul class="pledgr-primary-nav">
    <li class="col-sm-1">
      <span class="logo"></span>
    </li>
    <li class="col-sm-1">
      <span class="lnk active">Dash</span>
    </li>
    <li class="col-sm-1">
      <span class="lnk">Feeds</span>
    </li>
    <li class="col-sm-5">
      <section class="mod-search">
        <input type="search" placeholder="Search Activity">
      </section>
    </li>
    <li class="col-sm-2 parent-nav">
      <ul class="child-nav">
        <li></li>
        <li><i class="fa fa-envelope"></i></li>
        <li><i class="fa fa-cog"></i></li>
      </ul>
    </li>
    <li class="col-sm-2">
      <button class="lnk">Logout</button>
    </li>
  </ul>
</nav>